In [4]:
!pip3 install mlxtend
!pip3 install plotly

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mlxtend in /Users/deepaknandula/Library/Python/3.9/lib/python/site-packages (0.21.0)
Requirement already satisfied: joblib>=0.13.2 in /Users/deepaknandula/Library/Python/3.9/lib/python/site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: pandas>=0.24.2 in /Users/deepaknandula/Library/Python/3.9/lib/python/site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: numpy>=1.16.2 in /Users/deepaknandula/Library/Python/3.9/lib/python/site-packages (from mlxtend) (1.23.4)
Requirement already satisfied: matplotlib>=3.0.0 in /Users/deepaknandula/Library/Python/3.9/lib/python/site-packages (from mlxtend) (3.6.2)
Requirement already satisfied: scikit-learn>=1.0.2 in /Users/deepaknandula/Library/Python/3.9/lib/python/site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: setuptools in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: scipy>=1.2.1 in /Users/deepaknandula/Library/Python/3.9/lib/python/site-packages (from mlxtend) (1.9.3)
Requirement already satisfied: python-dateutil>=2.7 in /Users/deepaknandula/Library/Python/3.9/lib/python/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/deepaknandula/Library/Python/3.9/lib/python/site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /Users/deepaknandula/Library/Python/3.9/lib/python/site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/deepaknandula/Library/Python/3.9/lib/python/site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /Users/deepaknandula/Library/Python/3.9/lib/python/site-packages (from matplotlib>=3.0.0->mlxtend) (4.38.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/deepaknandula/Library/Python/3.9/lib/python/site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.6)
Requirement already satisfied: pillow>=6.2.0 in /Users/deepaknandula/Library/Python/3.9/lib/python/site-packages (from matplotlib>=3.0.0->mlxtend) (9.3.0)
Requirement already satisfied: packaging>=20.0 in /Users/deepaknandula/Library/Python/3.9/lib/python/site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: pytz>=2020.1 in /Users/deepaknandula/Library/Python/3.9/lib/python/site-packages (from pandas>=0.24.2->mlxtend) (2022.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/deepaknandula/Library/Python/3.9/lib/python/site-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.15.0)
Defaulting to user installation because normal site-packages is not writeable
Collecting plotly
  Downloading plotly-5.11.0-py2.py3-none-any.whl (15.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.3/15.3 MB 46.8 MB/s eta 0:00:0000:0100:01
Collecting tenacity>=6.2.0
  Downloading tenacity-8.1.0-py3-none-any.whl (23 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.11.0 tenacity-8.1.0

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
from sklearn import preprocessing
import sklearn
import seaborn as sns
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
from sklearn.linear_model import LinearRegression
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import plotly.express as px
sns.set_style("darkgrid")
import plotly.figure_factory as ff
from sklearn.neighbors import KNeighborsClassifier as knn
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras

In [19]:
def Percentage(df,colname,val):
    return round(df[df[colname]==val].shape[0]/df.shape[0] * 100,2)

def replaceWithZeros(df,col_name):
    df[col_name].fillna(0,inplace =True)
    return df

def findOutliers(df,col_name):
    Q1 = df[col_name].quantile(0.25)
    Q3 = df[col_name].quantile(0.75)
    IQR = Q3 - Q1
    high_cutoff = Q3 + 1.5*IQR
    low_cutoff = Q1 - 1.5*IQR
    return high_cutoff, low_cutoff

def LevelEncoding(df,col_name):
    labelEncoder = preprocessing.LabelEncoder()
    df[col_name] = labelEncoder.fit_transform(df[col_name])
    return df

In [20]:
data = pd.read_csv('DataSet/test.csv')
data

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
0,1,1,4,2015-09-17,1.0,1,0,0
1,2,3,4,2015-09-17,1.0,1,0,0
2,3,7,4,2015-09-17,1.0,1,0,0
3,4,8,4,2015-09-17,1.0,1,0,0
4,5,9,4,2015-09-17,1.0,1,0,0
...,...,...,...,...,...,...,...,...
41083,41084,1111,6,2015-08-01,1.0,0,0,0
41084,41085,1112,6,2015-08-01,1.0,0,0,0
41085,41086,1113,6,2015-08-01,1.0,0,0,0
41086,41087,1114,6,2015-08-01,1.0,0,0,0
41087,41088,1115,6,2015-08-01,1.0,0,0,1

In [21]:
data.isnull().sum()

Id                0
Store             0
DayOfWeek         0
Date              0
Open             11
Promo             0
StateHoliday      0
SchoolHoliday     0
dtype: int64

In [22]:
# Drop rows where values are missing
# data.dropna(axis=0,how='any',inplace=True)
data

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
0,1,1,4,2015-09-17,1.0,1,0,0
1,2,3,4,2015-09-17,1.0,1,0,0
2,3,7,4,2015-09-17,1.0,1,0,0
3,4,8,4,2015-09-17,1.0,1,0,0
4,5,9,4,2015-09-17,1.0,1,0,0
...,...,...,...,...,...,...,...,...
41083,41084,1111,6,2015-08-01,1.0,0,0,0
41084,41085,1112,6,2015-08-01,1.0,0,0,0
41085,41086,1113,6,2015-08-01,1.0,0,0,0
41086,41087,1114,6,2015-08-01,1.0,0,0,0
41087,41088,1115,6,2015-08-01,1.0,0,0,1

In [23]:
data['Year'] = pd.DatetimeIndex(data['Date']).year
data['Month'] = pd.DatetimeIndex(data['Date']).month
data['Day'] = pd.DatetimeIndex(data['Date']).day
data = data.drop('Date', axis=1)

data

,Id,Store,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,Day
0,1,1,4,1.0,1,0,0,2015,9,17
1,2,3,4,1.0,1,0,0,2015,9,17
2,3,7,4,1.0,1,0,0,2015,9,17
3,4,8,4,1.0,1,0,0,2015,9,17
4,5,9,4,1.0,1,0,0,2015,9,17
...,...,...,...,...,...,...,...,...,...,...
41083,41084,1111,6,1.0,0,0,0,2015,8,1
41084,41085,1112,6,1.0,0,0,0,2015,8,1
41085,41086,1113,6,1.0,0,0,0,2015,8,1
41086,41087,1114,6,1.0,0,0,0,2015,8,1
41087,41088,1115,6,1.0,0,0,1,2015,8,1

In [27]:
def LevelEncoding(df,col_name):
    labelEncoder = preprocessing.LabelEncoder()
    df[col_name] = labelEncoder.fit_transform(df[col_name])
    return df

In [28]:
store_data = pd.read_csv("DataSet/store.csv", low_memory = False)

store_data['CompetitionDistance'].fillna(store_data['CompetitionDistance'].mean(), inplace = True)
replaceWithZeros(store_data,'Promo2SinceWeek')
replaceWithZeros(store_data,'Promo2SinceYear')
replaceWithZeros(store_data,'PromoInterval')
replaceWithZeros(store_data,'CompetitionOpenSinceMonth')
replaceWithZeros(store_data,'CompetitionOpenSinceYear')

mergedData = pd.merge(data, store_data, how='left', on='Store')


mergedData = LevelEncoding(mergedData, 'StoreType')
mergedData = LevelEncoding(mergedData,'Assortment')
# mergedData = LevelEncoding(mergedData, 'Season')
StateHolidayMaps = {'0':0,'a':1,'b':1,'c':1}
mergedData['StateHoliday'].replace(StateHolidayMaps, inplace = True)
PromoIntervalMaps = {'Jan,Apr,Jul,Oct':1, 'Feb,May,Aug,Nov':2, 'Mar,Jun,Sept,Dec':3}
mergedData['PromoInterval'].replace(PromoIntervalMaps, inplace = True)

mergedData = mergedData.drop('Promo2SinceWeek', axis=1)
mergedData = mergedData.drop('Promo2SinceYear', axis=1)
mergedData = mergedData.drop('PromoInterval', axis=1)

mergedData = mergedData.drop('CompetitionOpenSinceMonth', axis=1)


mergedData['Season'] = np.where(mergedData['Month'].isin([3,4,5]), "Spring",
                 np.where(mergedData['Month'].isin([6,7,8]), "Summer",
                 np.where(mergedData['Month'].isin([9,10,11]), "Fall",
                 np.where(mergedData['Month'].isin([12,1,2]), "Winter", "None"))))
mergedData = LevelEncoding(mergedData, 'Season')
mergedData

,Id,Store,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,Day,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceYear,Promo2,Season
0,1,1,4,1.0,1,0,0,2015,9,17,2,0,1270.0,2008.0,0,0
1,2,3,4,1.0,1,0,0,2015,9,17,0,0,14130.0,2006.0,1,0
2,3,7,4,1.0,1,0,0,2015,9,17,0,2,24000.0,2013.0,0,0
3,4,8,4,1.0,1,0,0,2015,9,17,0,0,7520.0,2014.0,0,0
4,5,9,4,1.0,1,0,0,2015,9,17,0,2,2030.0,2000.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41072,41084,1111,6,1.0,0,0,0,2015,8,1,0,0,1900.0,2014.0,1,1
41073,41085,1112,6,1.0,0,0,0,2015,8,1,2,2,1880.0,2006.0,0,1
41074,41086,1113,6,1.0,0,0,0,2015,8,1,0,2,9260.0,0.0,0,1
41075,41087,1114,6,1.0,0,0,0,2015,8,1,0,2,870.0,0.0,0,1
41076,41088,1115,6,1.0,0,0,1,2015,8,1,3,2,5350.0,0.0,1,1

In [29]:
mergedData.isnull().sum()

Id                          0
Store                       0
DayOfWeek                   0
Open                        0
Promo                       0
StateHoliday                0
SchoolHoliday               0
Year                        0
Month                       0
Day                         0
StoreType                   0
Assortment                  0
CompetitionDistance         0
CompetitionOpenSinceYear    0
Promo2                      0
Season                      0
dtype: int64

In [30]:
# Save dataset to use in testing
mergedData.to_csv('CorrectDataTesting.csv')